body{
    background-color: lightcyan;
}



form{
    margin-top: 200px;
    margin-left: 600px;
    border: 2px solid rgb(104, 199, 213);
    border-radius: 5px 5px 5px 5px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    
}

input{
    width: 250px;
    height: 30px;
    background-color: aquamarine;
    margin-left: 18px;
    margin-top: 30px;
    border-radius: 7px;
    
}

select{
    width: 250px;
    height: 30px;
    background-color: aquamarine;
    margin-left: 18px;
    margin-top: 30px;
    border-radius: 7px;
}